[Unit]
Description=display traces
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/cam/traces
ExecStart=/home/cam/traces/.venv/bin/python /home/cam/traces/run_display.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/cam/traces/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
