[Unit]
Description=ghosts - overlay videos
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/ghosts
ExecStart=/home/pi/ghosts/.venv/bin/python /home/pi/ghosts/overlay_loop.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/pi/ghosts/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
